#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #eee;
  border-style: solid;
  border-color: #303030;
}

button:active {
  background-color: #272;
  border-color: #207020;
  margin: 0.3rem;
  font-size: 1.3rem;
}

.inputLabelContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none !important;
}
