.searchBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.searchDropdownItem {
  background-color: #333;
  padding: 0.2rem;
}

.searchDropdownItem:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.searchDropdownItem:hover {
  background-color: #444144;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.searchDropdown {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.searchButton {
  padding-left: 0.4rem;
}

.searchIcon {
  padding-left: 0.4rem;
  border: 2px solid #111;
  border-radius: 25%;
}

.searchIcon:hover {
  border-color: #ddd;
}

.searchIcon:active {
  border-color: #fff;
  background-color: #333;
}

@media (max-width: 576px) {
  .searchDropdown {
    width: 60%;
  }
}
